<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 8px;
        }

        th {
            background-color: #ddd;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 25%;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .toast-container {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
    </style>
</head>

<body>
    <div class="container">
        <h1 class="text mt-3">Tablero</h1>
        <ul class="nav nav-tabs mt-3">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#unreviewed-tab">Por Atender</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#reviewed-tab">Atendidas</a>
            </li>
        </ul>
        <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="unreviewed-tab">
                <table id="unreviewed-table" class="table table-bordered table-striped">
                    <thead>
                        <tr>

                            <th>Número de Petición</th>
                            <th>Cliente</th>
                            <th>Derecho a Ejercer</th>
                            <th>Fecha y Hora</th>
                            <th>Revisar</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="reviewed-tab">
                <table id="reviewed-table" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Número de Petición</th>
                            <th>Cliente</th>
                            <th>Derecho a Ejercer</th>
                            <th>Estatus</th>
                            <th>Creada</th>
                            <th>Atendida</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal Info -->
    <div id="InfoModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Modal Header</h2>
                <span class="close">&times;</span>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success">Aceptar</button>
                <button type="button" class="btn btn-danger">Rechazar</button>
            </div>
        </div>
    </div>

    <!--Toasts-->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-success text-white">
                <strong class="me-auto">Aprobada</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Petición aprobada con éxito.
            </div>
        </div>

        <div id="dangerToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-danger text-white">
                <strong class="me-auto">Rechazada           </strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Petición rechazada con éxito.
            </div>
        </div>
    </div>

    <script>
        const modal = document.getElementById("InfoModal");
        const closeButton = modal.querySelector(".close");
        closeButton.addEventListener("click", function () {
            modal.style.display = "none";
        });
    </script>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/dashboard.js"></script>
</body>

</html>